<%- include('partials/header'); %>

<div class="showcase">
    <div class="text-showcase">
        <span class="text first-text">I'm </span>
        <span class="text second-text"></span>
        <script>
        const text = document.getElementsByClassName("second-text");

            const textLoad = () => {
                    setTimeout(() => {
                    text[0].textContent = "Saumya Vatsa";
                    },0);
                    setTimeout(() => {
                    text[0].textContent = "a Web Developer";
                    },4000);
                    setTimeout(() => {
                    text[0].textContent = "a YouTuber";
                    },8000);
            };
            textLoad();
            window.setInterval(textLoad,12000)
        </script>
    </div>
    <div class="per-img">
        <img src="Images/coding.gif" alt="">
    </div>
</div>

<div class="about-showcase" id="about">
    <div class="img">
        <img src="Images/mine.jpg" alt="">
    </div>
    <div class="about">
        <p> <%= aboutDetail %></p>
        <form action="/contact" method="get">
            <button>Contact Me</button>
        </form>
    </div>
</div>

<div class="exp-showcase">
    <h2 id="exp-title" onmouseover="expTitleChange()" onmouseout="expTitleChange1()">Experience</h2>
    <div class="timeline">
        <p class="year" onclick="show2019()" onmouseout="hide2019()">2019</p>
        <hr>
        <p class="year" onclick="show2021()" onmouseout="hide2021()">2021 </p>
        <hr>
        <p class="year" onclick="show2022()" onmouseout="hide2022()">2022</p>
    </div>
    <div class="dialog-box" id="t2019">
        <p class="text1">DAV Public School</p>
        <p class="text2">Passed 10th with 95.2%</p>
    </div>
    <div class="dialog-box" id="t2021">
        <p class="text1">DAV Public School</p>
        <p class="text2">Passed 12th with 88.8%</p>
        <p class="text1">VIT University</p>
        <p class="text2">Admission in BCA program</p>
    </div>
    <div class="dialog-box" id="t2022">
        <p class="text1" >IIT Madras</p>
        <p class="text2" >Admission in BS (Data Science)</p>
    </div>
</div>

<script>
    const expTitle = document.getElementById('exp-title');
    const date2019 = document.getElementById('t2019');
    const date2021 = document.getElementById('t2021');
    const date2022 = document.getElementById('t2022');
    
    const expTitleChange =  ()=>{
        expTitle.textContent = 'My Journey';
    }

    const expTitleChange1 =  ()=>{
        expTitle.textContent = 'Experience';
    }

    const show2019 = ()=>{
        date2019.style.visibility ="visible"
    }
    const hide2019 = ()=>{
        date2019.style.visibility ="hidden"
    }
    const show2021 = ()=>{
        date2021.style.visibility ="visible"
    }
    const hide2021 = ()=>{
        date2021.style.visibility ="hidden"
    }
    const show2022 = ()=>{
        date2022.style.visibility ="visible"
    }
    const hide2022 = ()=>{
        date2022.style.visibility ="hidden"
    }
</script>

<!-- <%- include('partials/footer'); %> -->