<%- include('partials/header'); %>

<div class="showcase">
    <div class="text-showcase">
        <span class="text first-text">I'm </span>
        <span class="text second-text"></span>
        <script>
        const text = document.getElementsByClassName("second-text");

            const textLoad = () => {
                    setTimeout(() => {
                    text[0].textContent = "Saumya Vatsa";
                    },0);
                    setTimeout(() => {
                    text[0].textContent = "a Web Developer";
                    },4000);
                    setTimeout(() => {
                    text[0].textContent = "a YouTuber";
                    },8000);
            };
            textLoad();
            window.setInterval(textLoad,12000)
        </script>
    </div>
    <div class="per-img">
        <img src="Images/coding.gif" alt="">
    </div>
</div>

<div class="about-showcase" id="about">
    <div class="img">
        <img src="Images/mine.jpg" alt="">
    </div>
    <div class="about">
        <p> <%= aboutDetail %></p>
        <form action="/contact" method="get">
            <button>Contact Me</button>
        </form>
    </div>
</div>

<div class="exp-showcase">
    <h2 id="exp-title" onmouseover="expTitleChange()" onmouseout="expTitleChange1()">Experience</h2>
    <div class="timeline">
        <p class="year">2019</p>
        <hr>
        <p class="year">2021 </p>
        <hr>
        <p class="year">2022</p>
    </div>
</div>

<script>
    const expTitle = document.getElementById('exp-title');
    
    const expTitleChange =  ()=>{
        expTitle.textContent = 'My Journey';
    }

    const expTitleChange1 =  ()=>{
        expTitle.textContent = 'Experience';
    }
</script>

<!-- <%- include('partials/footer'); %> -->