*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1B262C;
    color: #3282B8;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.container{
    margin:10px;
    padding: 20px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #3282B8;
}

a:hover{
    color: #0F4C75;
}

/* Navbar */

.navbar{
    display: flex;
    width: 50%;
    height: 15%;
    justify-content: space-around;
    margin: 5px;
    margin-left: 50%;
}

.navbar .menu-items{
    margin-bottom: 1px;
}


.navbar .menu-items:hover{
    border-bottom: #0F4C75 solid 2px;
}

.navbar .menu-btn:hover{
    border-color: #BBE1FA;
}

.navbar .menu-btn a:hover{
    color: #BBE1FA;
}

/* Footer */

footer{
    margin-top: 20px;
    bottom: 0;
    background-color: #BBE1FA;
    height: fit-content;
    color: #0F4C75;
    padding: 20px;
}

footer p{
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

/* Showcase */

.showcase{  
    margin: 10px;
    padding: 10px;
    display: flex;
}

.text-showcase{
    width: 60%;
    padding: 100px; 
    padding-top: 210px;

}

.text{
    position: relative;
    font-size: 45px;
    font-weight: bold;
}

.first-text{
    color: #0F4C75;
}

.second-text{
    color: #BBE1FA;
}

.second-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 3px solid #BBE1FA;
    background-color: #1B262C;
    animation: animate 4s steps(12) infinite;
} 

@keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.per-img{
    padding: 20px;
    padding-right: 40px;
    padding-top: 30px;
}

.per-img img{
    width: 480px;
    height: 400px;
    border-radius: 80px;
    box-shadow: 1px 5px 1px #0F4C75;
}

/* About Showcase */
.about-showcase{
    padding: 20px;
    margin: 20px;
    display: flex;
    margin-top: 50px;
}

.about-showcase .about{
    width: 60%;
    margin: 20px;
    color: #BBE1FA;
    font-size: 20px;
    padding-top: 150px;
}

.about-showcase .img{
    padding: 20px;
}

.about-showcase .img img{
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 1px #0F4C75;
}

.about-showcase .about button{
    position: relative;
    margin-top: 20px;
    padding: 2px;
    height: 50px;
    width: 120px;
    background-color: #0F4C75;
    color: #BBE1FA;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

.about-showcase .about button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #BBE1FA;
    transform: scaleX(0);
    transition:  transform 300ms ease-in-out;
    transform-origin: left;
}

.about-showcase .about button:hover::before,
.about-showcase .about button:focus::before{
    transform: scaleX(1);
}

.about-showcase .about button:hover,
.about-showcase .about button:focus{
    color: #0F4C75;
}

/* Experience Showcase */

.exp-showcase{
    margin: 20px;
    margin-top: 50px;
    color: #3282B8;
    position: relative;
}

.exp-showcase .year{
    cursor: pointer;
    font-size: 15px;
    background-color: #BBE1FA;
    padding: 4px;
    border-radius: 10px;
}

.title{
    cursor: pointer;
    margin-bottom: 250px;
    text-align: center;
    color: #BBE1FA;
    padding-bottom: 5px;
    border: 3px solid #BBE1FA;
    width: 400px;
    margin-left: 37%;
    border-radius: 30px;
    transition: 0.5s;
}

.title:hover{
    color: #0F4C75;
    background-color: #BBE1FA;
    border-color: #0F4C75;
}

.exp-showcase hr{
    height: 8px;
    margin-top: 10px;
    width: 700px;
    background-color: #BBE1FA;
}

.exp-showcase .timeline{
    display: flex;
    justify-content: space-between;
}

.exp-showcase .dialog-box{
    visibility: hidden;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
    position: absolute;
    height: fit-content;
    width: 300px;
    background-color: #BBE1FA;
    top: 160px;
    transition: 0.5s;
}

#t2021{
    top: 340px;
    left: 580px;
}

#t2022{
    top: 155px;
    width: 350px;
    right: 0;
    margin-right: 5px;
}

.dialog-box .text1{
    font-weight: bold;
    color: #1B262C;
    font-size: 1.5rem;
    padding: 2px;
}

.dialog-box .text2{
    color: #0F4C75;
    font-size: 1rem;
    font-style: italic;
}

/* Skills Showcase */

.skills-showcase{
    margin: 10px;
    margin-top: 250px;
}

.skills-showcase .title{
    margin-bottom: 100px;
}

.skill-row{
    margin: 20px;
    margin-left: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
}

.skill-row img{
    cursor: pointer;
    padding: 10px;
    height: 150px;
    width: 190px;
    transition: 0.5s;
}

.skill-row img:hover{
    height: 190px;
    width: 250px;
}

.react{
    cursor: pointer;
    padding: 10px;
    height: 150px;
    width: 190px;
    transition: 0.5s;
    text-align: center;
    margin-left: 42%;
}

.react:hover{
    height: 190px;
    width: 250px;
}