*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1B262C;
    color: #3282B8;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.container{
    margin:10px;
    padding: 20px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #3282B8;
}

a:hover{
    color: #0F4C75;
}

/* Navbar */

.navbar{
    display: flex;
    width: 50%;
    height: 15%;
    justify-content: space-around;
    margin: 5px;
    margin-left: 50%;
}

.navbar .menu-items{
    margin-bottom: 1px;
}


.navbar .menu-items:hover{
    border-bottom: #0F4C75 solid 2px;
}

.navbar .menu-btn:hover{
    border-color: #BBE1FA;
}

.navbar .menu-btn a:hover{
    color: #BBE1FA;
}

/* Footer */

footer p{
    color: #BBE1FA;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    bottom: 0;
}

/* Showcase */

.showcase{  
    position: relative;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.text-showcase{
    width: 60%;
    padding: 100px; 
    padding-top: 210px;

}

.text{
    position: relative;
    font-size: 70px;
    font-weight: bold;
}

.first-text{
    color: #0F4C75;
}

.second-text{
    color: #BBE1FA;
}

.second-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 3px solid #BBE1FA;
    background-color: #1B262C;
    animation: animate 4s steps(12) infinite;
} 

@keyframes animate{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.per-img{
    position: absolute;
    padding: 30px;
    padding-right: 40px;
    right: 10px;
}

.per-img img{
    height: 500px;
    border-radius: 100px;
}